In [3]:
from scipy import stats
import pandas as pd

### ANOVA Test

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/Iris.csv', index_col=0)
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
df["SepalLengthCm"]

Id
1      5.1
2      4.9
3      4.7
4      4.6
5      5.0
      ...
146    6.7
147    6.3
148    6.5
149    6.2
150    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [12]:
f ,p = stats.f_oneway(df['SepalWidthCm'],df['SepalLengthCm'],df['PetalLengthCm'],
                       df['PetalWidthCm'])

In [13]:
f

483.57128302425997

In [14]:
p

3.4996987081933735e-159

In [16]:
if p < 0.05:
    print("Reject the Null Hypo, At least one is Different")
else:
    print("Null Hypo")

Reject the Null Hypo, At least one is Different

### Chi-Square test

In [1]:
from scipy.stats import chi2_contingency

In [7]:
df= pd.read_csv("chi2.csv", index_col=0)

In [9]:
df.head()

  Athlete Smoker
0       Y    yes
1       Y    yes
2       Y     no
3       Y     no
4       Y    yes

In [11]:
# First we have to convert the above data to Observe frequency

obs = pd.crosstab(index = df["Athlete"], columns= df['Smoker'])
obs

Smoker   no  yes
Athlete
N         0   10
Y        14    4

In [12]:
# Now we can use chi2_contingency for Extracting chi2 value, pvalue, degree of freedom and expected frequency
chi2, p_value, degree_of_freedom, expected_freq = chi2_contingency(obs)

In [13]:
chi2

12.6

In [14]:
p_value

0.00038574675568200776

In [15]:
degree_of_freedom

1

In [16]:
expected_freq

array([[5., 5.],
       [9., 9.]])

![Pvalue](pval.png)

In [19]:
if p_value < 0.5:
    print("Reject Null Hypothesis, Columns are Dependent on Each other")
else:
    print("Not Reject Null Hypothesis, Columns are not Dependent on Each other")

Reject Null Hypothesis, Columns are Dependent on Each other

In [21]:
# How p_value is calculated for chi2 
stats.chi2.cdf(12.6,1)
# This will give us by defalut left hand side area under the curve

0.999614253244318

In [22]:
# But we want right hand side area under the curve 
1 - stats.chi2.cdf(12.6,1)

0.0003857467556820371