### Variable

In [1]:
10

10

In [2]:
a = 10

In [3]:
# Memory Location of a
id(a)

140709740143688

In [4]:
name2 = "python"
name2

'python'

In [5]:
#SyntaxError
#@name = 20

In [6]:
# Single Line Comments

In [7]:
'''MultiLine 
comment'''

'MultiLine \ncomment'

### Data Types in Python

In [8]:
pin_code= 400002
pin_code

400002

In [9]:
#Checking the Datatype of pin_code
type(pin_code)

int

In [10]:
temp= 25.2
temp

25.2

In [11]:
#Checking the Datatype of temp
type(temp)

float

In [12]:
#Checking the Datatype of logical
logical = True
type(logical)

bool

In [13]:
# String Creation

In [14]:
s= "We are learning python"
s1= 'We are learning python' 
s2= """We are learning python""" # Always recommended for Multi-line comment
print(s)
print(s1)
print(s2)

We are learning python
We are learning python
We are learning python

In [15]:
#Using Equality Operator chack s and s1 are equal or not
s==s1

True

In [16]:
#Using Equality Operator chack s and s2 are equal or not
s==s2

True

In [17]:
laptop= "It's a Laptop"
laptop

"It's a Laptop"

#### Markdown Shortcut
ESC + 1 = Title/Heading
ESC + Y = Code
ESC + M = Markdown

### Typecasting
- Typecasting is used to change the data types.

In [18]:
age = 400
type(age)

int

In [19]:
x = str(age)
type(x)

str

In [20]:
int(x)

400

In [21]:
float(age)

400.0

In [22]:
bool(-5)

True

In [23]:
bool(0)

False

In [24]:
bool(1)

True

In [25]:
zero = 0
bool(zero)

False

In [26]:
bool(age)

True

In [27]:
# We can convert any type of value to bool type and the output for all value will be true
# Except for 0, which is false

### String Method
- To get list of all function syntax is variable (variable. +tab)
- To open documentation, go inside function parenthesis and press (shift + tab)

In [28]:
s

'We are learning python'

In [29]:
s.capitalize()

'We are learning python'

In [30]:
s.casefold()

'we are learning python'

In [31]:
# Capitalize function

In [32]:
names= "aman khan is the best"
# press shift + tab in parentheses for documentation
names.capitalize()

'Aman khan is the best'

In [33]:
# Count

In [34]:
s

'We are learning python'

In [35]:
s.count("a")

2

In [36]:
s.count("n")

3

In [37]:
s.count(" ") # Showing the space/whitespace

3

In [38]:
# startswith and endswith

In [39]:
s

'We are learning python'

In [40]:
s.startswith("aman")

False

In [41]:
s.startswith("W")

True

In [42]:
s.endswith("python")

True

In [43]:
s.endswith("p")

False

In [44]:
s.endswith("n")

True

In [45]:
# Find

In [46]:
s

'We are learning python'

In [47]:
s.find("learning") # returns the index number of the letter

7

In [48]:
s.find("aman") # return -1, if word is not present

-1

In [49]:
# Replace

In [50]:
s

'We are learning python'

In [51]:
s.replace("We", "They") # temporary replace

'They are learning python'

In [52]:
s

'We are learning python'

In [53]:
s= s.replace("We", "They") # permanent rplace (method 1)
s

'They are learning python'

In [54]:
s.replace("are", "a") # temporary replace

'They a learning python'

In [55]:
# basic function

In [56]:
s.upper()

'THEY ARE LEARNING PYTHON'

In [57]:
s.lower()

'they are learning python'

In [58]:
s

'They are learning python'

### Data Structure (For storing multiple values)
- Lists (Mutable)
- Tuple (Immutable)
- Dictionary (Mutable)
- Sets (Immutable)

#### List

In [59]:
lst= []
type(lst)

list

In [60]:
lst = [10,10.2,True, "python"]
lst

[10, 10.2, True, 'python']

In [61]:
# append

In [62]:
lst.append(False) # permanent change
lst

[10, 10.2, True, 'python', False]

In [63]:
lst.append("Rp Bhai") # permanent change
lst

[10, 10.2, True, 'python', False, 'Rp Bhai']

In [64]:
#count

In [65]:
lst.count("Rp Bhai")

1

In [66]:
#index

In [67]:
lst.index("python")

3

In [68]:
lst.index("Rp Bhai")

5

In [69]:
#Insert (does not replace anything it allow to add element without deleting the pervious value)
#lst(index:new value)

In [70]:
lst.insert(0, 1000) # permanent change

In [71]:
lst

[1000, 10, 10.2, True, 'python', False, 'Rp Bhai']

In [72]:
lst.insert(3, "Analyst")
lst

[1000, 10, 10.2, 'Analyst', True, 'python', False, 'Rp Bhai']

In [73]:
#pop (deletes the last element)

In [74]:
lst.pop() # permanent change
lst

[1000, 10, 10.2, 'Analyst', True, 'python', False]

In [75]:
#remove()
#lst.remove("The value that you want to delete")

In [76]:
lst.remove(10.2)
lst

[1000, 10, 'Analyst', True, 'python', False]

#### Tuple
- Tuples are ordered and hetrogenous data structure
- Tuples are Immutable

In [77]:
# create a tuple

In [78]:
t = ()
type(t)

tuple

In [79]:
t = (10, 5.5, True, "Python")
t

(10, 5.5, True, 'Python')

In [80]:
t.count(5.5)

1

In [81]:
t.index(True)

2

In [82]:
# Accessing Element from tuple

In [83]:
t

(10, 5.5, True, 'Python')

In [84]:
t[1]

5.5

In [85]:
t[0:3] # it will access 0 to 2 and leave the 3 index

(10, 5.5, True)

#### Dictionary
- Ordered Collection of items
- Hetrogenous 
- Mutable Data Structure
- key-value pair

In [86]:
# Dictionary Creation

In [87]:
dic= {}
type(dic)

dict

In [88]:
# Adding element in Dictionary

In [89]:
dic = {
    'Name' : "Aman",
    'Age' : 22,
    "Location" : "Mumbai",
    "Course" : "Data Science"
}
dic

{'Name': 'Aman', 'Age': 22, 'Location': 'Mumbai', 'Course': 'Data Science'}

In [90]:
#get

In [91]:
dic.get("Name")

'Aman'

In [92]:
dic.get("Course")

'Data Science'

In [93]:
#items

In [94]:
dic.items()

dict_items([('Name', 'Aman'), ('Age', 22), ('Location', 'Mumbai'), ('Course', 'Data Science')])

In [95]:
#keys

In [96]:
dic.keys()

dict_keys(['Name', 'Age', 'Location', 'Course'])

In [97]:
#values

In [98]:
dic.values()

dict_values(['Aman', 22, 'Mumbai', 'Data Science'])

In [99]:
#Adding values in Dictionary
#update({key:value})

In [100]:
dic.update({"Date": "20/12/2020"})

In [101]:
dic

{'Name': 'Aman',
 'Age': 22,
 'Location': 'Mumbai',
 'Course': 'Data Science',
 'Date': '20/12/2020'}

In [102]:
# multiple update

In [103]:
dic.update({"subject": "Ml", "Month": "December"})

In [104]:
dic

{'Name': 'Aman',
 'Age': 22,
 'Location': 'Mumbai',
 'Course': 'Data Science',
 'Date': '20/12/2020',
 'subject': 'Ml',
 'Month': 'December'}

In [105]:
dic["Name"]

'Aman'

In [106]:
#Changing the name

In [107]:
dic["Name"] = "Manaf"

In [108]:
dic

{'Name': 'Manaf',
 'Age': 22,
 'Location': 'Mumbai',
 'Course': 'Data Science',
 'Date': '20/12/2020',
 'subject': 'Ml',
 'Month': 'December'}

In [109]:
dic.pop("subject")

'Ml'

In [110]:
dic

{'Name': 'Manaf',
 'Age': 22,
 'Location': 'Mumbai',
 'Course': 'Data Science',
 'Date': '20/12/2020',
 'Month': 'December'}

#### Sets
- sets are unordered and unindexed
- sets are immutable
- Unordered
- Once a set is created you cannot change its item but you can remove items and add new items
- As sets are unordered they do not support indexing and slicing operations
- sets do not allow duplicate values

In [111]:
s1= {10,10,10,10,20,30,40,50}
s1

{10, 20, 30, 40, 50}

In [112]:
# true will not get print becoz it True consider as 1
s2 = {1,2,1.2,True}
s2

{1, 1.2, 2}

In [113]:
#Does not support indexing

In [114]:
#s1[4]
# TypeError: 'set' object is not subscriptable

In [115]:
#add

In [116]:
s1.add(60)

In [117]:
s1

{10, 20, 30, 40, 50, 60}

In [118]:
s1

{10, 20, 30, 40, 50, 60}

In [119]:
s1.pop()

50

In [120]:
s1

{10, 20, 30, 40, 60}

### User Input

In [121]:
age = input("hello, what is your age: ")

hello, what is your age:  10

In [122]:
age

'10'

In [123]:
type(age)

str

In [124]:
age= float(input("what is your age: "))

what is your age:  10

In [125]:
age

10.0

In [126]:
type(age)

float

In [127]:
age= int(input("What is your my boy? "))

What is your my boy?  4

In [128]:
age

4

In [129]:
# Typecasting
num1 = int(input("Enter first number: "))
num2 = int(input("Enter Second number: "))
print("num1 + num2 = ", num1 + num2)
print("num1 - num2 = ", num1 - num2)
print("num1 x num2 = ", num1 * num2)
print("num1 / num2 = ", num1 / num2)
print("num1 // num2 = ", num1 // num2)

Enter first number:  10
Enter Second number:  50

num1 + num2 =  60
num1 - num2 =  -40
num1 x num2 =  500
num1 / num2 =  0.2
num1 // num2 =  0

### Condition Statement
- if
- else
- elif

In [130]:
#if

In [131]:
# Check whether the player is Virat

player= input("Player Name: ")
if player == "virat":
    print("Virat Kolhi my Boy")

Player Name:  virat

Virat Kolhi my Boy

In [132]:
#if-else

In [133]:
# check whether the number is positive or negative
num = int(input("Enter a Number: "))
if num>=0:
    print("positive number")
else:
    print("negative number")

Enter a Number:  5

positive number

In [134]:
# if-elif-else

In [135]:
# check whether the number is positive or negative or zero
num = int(input("Enter a Number: "))
if num > 0:
    print(f"({num}), is a Positive Number (+ve)")
elif num == 0:
    print("It's a ZERO")
else:
    print(f"({num}), is a Negative Number (-ve)")

Enter a Number:  10

(10), is a Positive Number (+ve)

In [136]:
# Give grades based on the percentages
#A : marks >= 85 
#B : marks < 85 and >70
#C : marks < 70 and > 60

marks = int(input("Enter your marks"))

if marks >= 85:
    print("A Grade")
elif (marks < 85) and (marks >= 70):
    print("B Grade")
elif (marks < 70) and (marks >= 60):
    print("C Grade")
else:
    print("Bad Grades")

Enter your marks 85

A Grade

#### Practice Problem Question

In [138]:
# Write a program which will print Century if the player has made more than 100 runs else it should 
# write how many more runs he needs to have to complete the century

In [154]:
runs= int(input("How much a player scored? "))

if runs >= 100:
    print("Century")
else:
    print("Still need", 100 - runs,"runs for a century")

How much a player scored?  200

Century

In [145]:
# Write a program to check the number is one digit, two digit and three digit

number=int(input("Whats the number: "))
if number<=9:
    print("One Digit Number")
elif number>=10 and number <=99:
    print("Two Digit Number")
elif number>99 and number <=999:
    print("Three Digit Number")
else:
    print("OMG")

Whats the number:  10000

OMG

In [159]:
# Write a program to check whether the user has entered number 99 or not
type= int(input("Type 99: "))
if type ==99:
    print("Thank you for typing 99 It's 99")
else:
    print(f"{type}!!! WTF Please type 99 not a {type}")

Type 99:  55

55!!! WTF Please type 99 not a 55

In [157]:
# f string (format string)

In [158]:
name = input("Enter your Name: ")
age = int(input("Enter your age"))
desig = input("Enter your Designation: ")
location = input("Send me your location: ")

print(f"My name is {name}, and i am {age} years old i work as a {desig}, at {location}")

Enter your Name:  Aman
Enter your age 21
Enter your Designation:  Student
Send me your location:  Mumbai

My name is Aman, and i am 21 years old i work as a Student, at Mumbai

### Functions
- In python there are two types of function.
- Built in Function
- User Defined Function
- We can create our own customized functions in python for code reuseability

In [160]:
# Basic Function

In [161]:
def simple_func():
    print("Hello World, This is a user defined function")

In [162]:
simple_func()

Hello World, This is a user defined function

In [164]:
#Docstring means create your own documentation

In [166]:
def func1():
    '''This function print 2 lines'''
    print("Line 1")
    print("Line 2")

In [169]:
func1() # press shift + tab in parentetisis

Line 1
Line 2

In [170]:
# Write a python function which will return a maximum number

def max_num(num1, num2):
    '''This function returns max number between given two number'''
    return max(num1, num2)
#max() is a built-in function

In [172]:
max_num(10, 20)

20

In [175]:
# Without max()
def max_num2(num1,num2):
    '''This function returns max number between given two number'''
    if num1>num2:
        return num1
    else:
        return num2

In [176]:
max_num(10,30)

30

### Loops
- while loop (Infinite Loop)
- for loop (Finite Loop)

In [186]:
#while loop
# A while loop in Python repeatedly executes a block of code as long as a specified condition is True.

In [187]:
python = 1
while python <= 10:
    print("Learning Python", python)
    python = python + 1
print("Python Completed")

Learning Python 1
Learning Python 2
Learning Python 3
Learning Python 4
Learning Python 5
Learning Python 6
Learning Python 7
Learning Python 8
Learning Python 9
Learning Python 10
Python Completed

In [195]:
age = int(input("Enter age"))

while age < 18:
    print("Not Eligible,", age)
    age = age + 1
print("Eligible")

Enter age 7

Not Eligible, 7
Not Eligible, 8
Not Eligible, 9
Not Eligible, 10
Not Eligible, 11
Not Eligible, 12
Not Eligible, 13
Not Eligible, 14
Not Eligible, 15
Not Eligible, 16
Not Eligible, 17
Eligible

In [196]:
#range function 
#range(start,end,step)
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [198]:
#odd number
list(range(1,20, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [199]:
#Even number
list(range(0,21, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [201]:
#Reverse number
list(range(20,0, -1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [207]:
# for loop
# A for loop in Python iterates over a sequence (such as a list, tuple, string, or range) 
# and executes a block of code for each item in the sequence.
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [217]:
lst= []
for i in range(1,10,2):
    lst.append(i*i)

In [218]:
lst

[1, 9, 25, 49, 81]

In [225]:
# Company List
company = ["flipkart","amazon","aya"]
company

['flipkart', 'amazon', 'aya']

In [226]:
for i in company:
    print(f"www.{i}.com")

www.flipkart.com
www.amazon.com
www.aya.com

In [227]:
for i in company:
    print("www." + i +".com")

www.flipkart.com
www.amazon.com
www.aya.com

### List Comprehension
- Easiest way of creating list data structure along with any loops or conditional statement

In [232]:
x = [num+10 for num in range(1,10)]
x

[11, 12, 13, 14, 15, 16, 17, 18, 19]

### In-class Activity
1. Write a program to store all names which starts with "A" in a list.
2. Take a list of numbers and add 5 to each number.
3. Create a list of marks and print only marks > 75
4. Print reverse table of given input

In [250]:
# Write a program to store all names which starts with "A" in a list.
names = ["sher", "Aman", "Adnan"]
names_with_A = []
for name in names:
    if name.startswith("A"):
        names_with_A.append(name)
print("Names starting with 'A':", names_with_A)

Names starting with 'A': ['Aman', 'Adnan']

In [263]:
for i in names:
    if i.startswith("A"):
        print(i)

Aman
Adnan

In [251]:
# Take a list of numbers and add 5 to each number.
addd= [numb+5 for numb in range(1,10) ]
addd

[6, 7, 8, 9, 10, 11, 12, 13, 14]

In [253]:
# Create a list of marks and print only marks > 75
marks = [60,50,75,50,76,80,90,100,50,76]
above75 = []
for mark in marks:
    if mark > 75:
        above75.append(mark)
print("Above 75 marks are: ", above75)

Above 75 marks are:  [76, 80, 90, 100, 76]

In [257]:
# Print reverse table of given input

user_input = int(input("Give me a number: "))

print(f"{user_input} X 10 = {user_input * 10}")
print(f"{user_input} X 9 = {user_input * 9}")
print(f"{user_input} X 8 = {user_input * 8}")
print(f"{user_input} X 7 = {user_input * 7}")
print(f"{user_input} X 6 = {user_input * 6}")
print(f"{user_input} X 5 = {user_input * 5}")
print(f"{user_input} X 4 = {user_input * 4}")
print(f"{user_input} X 3 = {user_input * 3}")
print(f"{user_input} X 2 = {user_input * 2}")
print(f"{user_input} X 1 = {user_input * 1}")

Give me a number:  70

70 X 10 = 700
70 X 9 = 630
70 X 8 = 560
70 X 7 = 490
70 X 6 = 420
70 X 5 = 350
70 X 4 = 280
70 X 3 = 210
70 X 2 = 140
70 X 1 = 70

In [259]:
user_input = int(input("Give me a number: "))

for i in range(10, 0, -1):
    print(f"{user_input} X {i} = {user_input * i}")

Give me a number:  7

7 X 10 = 70
7 X 9 = 63
7 X 8 = 56
7 X 7 = 49
7 X 6 = 42
7 X 5 = 35
7 X 4 = 28
7 X 3 = 21
7 X 2 = 14
7 X 1 = 7

In [266]:
user_input = int(input("Give me a number: "))
for i in range(10,0,-1):
    print(user_input*i)

Give me a number:  5

50
45
40
35
30
25
20
15
10
5