In [1]:
import pandas as pd

## JSON

In [2]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

## SQL
1. Download SQL file
2. Download XAMPP
3. Open XAMPP
4. Click Start in XAMPP on MySQL and Apache
5. Then hit this URL localhost/phpmyadmin/
6. Then Create New Database and then upload your downloaded SQL file
7. pip install mysql.connector
8. Connect Python to SQL Database
`connection = mysql.connector.connect(host='localhost', user='root', password='', database='world')`
10. Use `pd.read_sql_query()` to get data from SQL Database

In [6]:
# !pip install mysql.connector

In [5]:
import mysql.connector

In [ ]:
connection= mysql.connector.connect(host='localhost', user='root', password='', 
                       database='world')

In [ ]:
df = pd.read_sql_query('SELECT * FROM country', connection)

In [ ]:
df